*.un~
*.swp
*.DS_STORE
*.pyc
untracked
.ipynb_checkpoints

.virtual_documents
flippy_illusions_for_colab-Copy1.ipynb
flippy_illusions_for_colab-Copy2.ipynb
flippy_illusions_for_colab-Copy3.ipynb
flippy_illusions_for_colab-Copy4.ipynb
assets/DIffusionIllusionsGif2.mov
assets/DiffusionIllusionsGif1.mov
assets/DiffusionIllusionsGif1.gif
hidden_characters_for_colab-Copy4.ipynb
hidden_characters_for_colab-Copy1.ipynb
peekaboo_for_RPE/Hermoine Granger - Emma Watson - Girl with long hair/000
thumbnails_data6
thumbnails_data8
.datatool.rpy.backup.2023-05-08_04:51:55.299636.py
.datatool.rpy.backup.2023-05-09_03:47:38.083481.py
.datatool.rpy.backup.2023-05-09_03:50:38.522113.py
.datatool.rpy.backup.2023-05-09_04:25:08.665168.py
.datatool.rpy.backup.2023-05-09_23:29:14.612549.py
.datatool.rpy.backup.2023-05-10_15:58:27.214572.py
.datatool.rpy.backup.2023-05-10_16:03:10.269276.py
.datatool.rpy.backup.2023-05-11_19:03:41.899976.py
.datatool.rpy.backup.2023-05-11_20:44:11.776036.py
.datatool.rpy.backup.2023-05-11_21:09:07.943362.py
old_notebooks/RefCOCO-Peekaboo.pkl