*.un~
*.swp
*.DS_STORE
*.pyc
untracked
.ipynb_checkpoints

.virtual_documents
flippy_illusions_for_colab-Copy1.ipynb
flippy_illusions_for_colab-Copy2.ipynb
flippy_illusions_for_colab-Copy3.ipynb
flippy_illusions_for_colab-Copy4.ipynb
assets/DIffusionIllusionsGif2.mov
assets/DiffusionIllusionsGif1.mov
assets/DiffusionIllusionsGif1.gif
hidden_characters_for_colab-Copy4.ipynb
hidden_characters_for_colab-Copy1.ipynb
datasets/RefMatte_RW_100
thumbnails_data8
datasets/RefMatte_RW_100.zip
images/quad_overlays
images
