*.un~
*.swp
*.DS_STORE

images/rotaters/UNTRACKED
images/folding_tiles/make_videos/short_pvideo.mp4
images/folding_tiles/make_videos/short_pvideo_copy.mp4
images/folding_tiles/make_videos/short_pvideo_copy1.mp4
images/folding_tiles/make_videos/short_pvideo_copy10.mp4
images/folding_tiles/make_videos/short_pvideo_copy11.mp4
images/folding_tiles/make_videos/short_pvideo_copy12.mp4
images/folding_tiles/make_videos/short_pvideo_copy13.mp4
images/folding_tiles/make_videos/short_pvideo_copy14.mp4
images/folding_tiles/make_videos/short_pvideo_copy15.mp4
images/folding_tiles/make_videos/short_pvideo_copy16.mp4
images/folding_tiles/make_videos/short_pvideo_copy17.mp4
images/folding_tiles/make_videos/short_pvideo_copy18.mp4
images/folding_tiles/make_videos/short_pvideo_copy19.mp4
images/folding_tiles/make_videos/short_pvideo_copy2.mp4
images/folding_tiles/make_videos/short_pvideo_copy20.mp4
images/folding_tiles/make_videos/short_pvideo_copy21.mp4
images/folding_tiles/make_videos/short_pvideo_copy22.mp4
images/folding_tiles/make_videos/short_pvideo_copy23.mp4
images/folding_tiles/make_videos/short_pvideo_copy3.mp4
images/folding_tiles/make_videos/short_pvideo_copy4.mp4
images/folding_tiles/make_videos/short_pvideo_copy5.mp4
images/folding_tiles/make_videos/short_pvideo_copy6.mp4
images/folding_tiles/make_videos/short_pvideo_copy7.mp4
images/folding_tiles/make_videos/short_pvideo_copy8.mp4
images/folding_tiles/make_videos/short_pvideo_copy9.mp4