html,
body {
	background-image: none;
	background-color: rgba(40, 42, 54, 1);
}

body * {
	color: rgba(248, 248, 242, 1);
	/* background-color: rgba(40, 42, 54, 1); */
}

a,
a * {
	color: rgba(80, 250, 123, 1);
	background-color: transparent;
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
	color: rgba(241, 250, 140, 1);
}

a:visited,
a:visited * {
	color: rgba(98, 114, 164, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],
[class*="header"] td {
	color: rgba(255, 184, 108, 1);
}

table {
	background-color: rgba(40, 42, 54, 1);
}

[id*="overlay"],
[id*="lightbox"],
blockquote {
	background-color: rgba(68, 71, 90, 1);
}

pre,
dl {
	background-color: rgba(68, 71, 90, 1);
}

input,
select,
button,
[role="button"],
a.button,
a.submit,
a.BigButton,
a.TabLink,
.install[onclick] {
	text-indent: 5px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: rgba(68, 71, 90, 1);
}

textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: rgba(68, 71, 90, 1);
}

div,
ul,
li {
	background-image: none;
}

a.highlight,
a.highlight *,
a.active,
a.active *,
.selected,
.selected *,
[href="#"] {
	font-weight: bold;
	color: rgba(139, 233, 253, 1);
}

